in:
  type: file
  path_prefix: src/test/resources/data
  parser:
    charset: UTF-8
    newline: CRLF
    type: csv
    delimiter: ','
    quote: '"'
    escape: '"'
    trim_if_not_quoted: false
    skip_header_lines: 1
    allow_extra_columns: false
    allow_optional_columns: false
    columns:
    - {name: int_val, type: long}
    - {name: double_val, type: double}
    - {name: string_val, type: string}
    - {name: date_val, type: timestamp, format: '%Y-%m-%d'}
    - {name: timestamp_val, type: timestamp, format: '%Y-%m-%d %H:%M:%S'}
out:
  type: kintone
  domain: [kintone_test_domain]
  app_id: 99999999
  auth_type: api_token
  api_token: [kintone_api_token]
  mode: insert
  column_options:
    int_val:       {field_code: "number_1",   type: "NUMBER"           }
    string_val:    {field_code: "string_1",   type: "SINGLE_LINE_TEXT" }
    date_val:      {field_code: "date_1",     type: "DATE"             }
    timestamp_val: {field_code: "datetime_1", type: "DATETIME"         }
